html, body {
	margin: 0;
	padding: 0;
}

body {
	
}

* {
	box-sizing: border-box;
}

.entries {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.entry {
	border: 1px solid red;
	padding: 20px;
}